html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* 
* Add title "Spécialités" to the LayersControl in the Chart Component
* This class is from react-leaflet so put it directly in the component or 
* in a CSS module doesn't work.
*/
.leaflet-control-layers.leaflet-control.leaflet-control-layers-expanded::before {
	content: "Spécialités";
	font-weight: bold;
	font-size: 15px;
	display: block;
}
