html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* 
* Classes below are from react-leaflet so put them directly in the component or 
* in a CSS module doesn't work.
*/

/* Add title "Spécialités" to the LayersControl in the Chart Component */
.leaflet-control-layers.leaflet-control.leaflet-control-layers-expanded::before {
	content: "Spécialités";
	font-weight: bold;
	font-size: 15px;
	display: block;
  width: 94px;
}

.leaflet-control-layers.leaflet-control.leaflet-control-layers-expanded {
  opacity: 0.8;
}

.leaflet-control-layers-overlays label:hover {
    cursor: pointer;
    font-weight: bold;
}